PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/librarysystem
JWT_SECRET=85425336c78fa72f72069ac994fc74118324111e7ea9d5ce9b7fc4cd0dca6d9b5ba1a2ea4765ac17fe9ef4ec5798d5cedbb08ec9ba374f12982e3e54941cfb46
FRONTEND_URL=http://localhost:5173
RAZORPAY_KEY_ID=rzp_test_SbRkeHif0unjFh
RAZORPAY_KEY_SECRET=SABw7NrgFzcQ6mhbX6P0rvvo
RAZORPAY_WEBHOOK_SECRET=whsec_gTc8sM8M35bQYHvWf82N4N2y
SUPER_ADMIN_NAME=Super Admin
SUPER_ADMIN_EMAIL=admin@library.com
SUPER_ADMIN_PASSWORD=admin123
